body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #ededed;
}
a {
  color: #0000ff;
  text-decoration: none;
}
p {
  text-indent: 1.75em;
  line-height: 1.4em;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
.logo {
  background-color: #0a435e;
  font-size: 3em;
}
