body{
	text-align: center;
}
header em{
	font-style: normal;
	font-size:13px;
}
.classification h2{
	tep
}
.classification img{
	;
}
p{
	text-indent: 1.75em;
}
.shouhou{
	font-weight: bold;
}
.boss1{
	display: inline-block;
}
.txt{
	padding-left: 550px;
	padding-right:550px ;
}
