			#menu{
				padding-left: 100px;
				margin: 0 auto;
				text-align: center;
				width: 100%;
				height: 60px;
				background: #55aaee;
				border: 1px solid #333333;
			}
			#menu ul{
				margin: 0px;
				padding: 0px;
			}
			.submenu{
				width: 900px;
				height: 28px;
				text-align: center;
			}
			#menu ul li{
				height: 30px;
				width: 115px;
				list-style: none;
				float: left;
				display: inline;
				font: 0.9em arial ;
				text-align: center;
			}
			ul li a{
				color: #fff;
				width: 114px;
				margin: 0px;
				padding: 0px 0px 0px 8px;
				text-decoration: none;
				display: block;
				background: #55a0ff;
				line-height: 29px;
				border-bottom: 1px solid #ccc;
			}
			ul li .submenu ul li{
				height: 25px;
			}
			ul li .submenu ul li a{
				background: #55AAEE;
				line-height: 24px;
			}
			ul li a:hover{
				background: #666;
				border-bottom: 1px dashed #FF0000;
			}
			ul li .submenu{
				display: none;
			}
			.submenu ul li{
				height: 24px;
				width: 113px;
				list-style: none;
				float: left;
				display: inline;
				font: 0.8em arial;
				text-align: center;
			}
			ul li:hover .submenu{
				display: block;
			}
			ul li .submenu ul li a:hover{
				background: #333333;
			}